.top{
    width:100%;
    height:60px;
    background-color:#2FDD92;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    font-family: "josefin sans",sans-serif;
}
.topCenter{
    flex:6
}
.topLogo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.topLeft,.topRight{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topImage{
    width:120px;
    height:50px;
    border-radius: 100%;
    object-fit: contain;
}
.topList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem{
      margin-right: 30px;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
}
.topLeft{
    font-size: 34px;
    font-weight: 600;
}
.topSearchIcon{
    font-size: 18px;
    color:#666;
    cursor:pointer;
    margin-left: 5px;
}