.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "lora", serif;
    color:black;
}
.headerTitlessm{
    position: absolute;
    top:18%;
    font-size: 20px;
}
.headerTitleslg{
    position: absolute;
    top:20%;
    font-size: 100px;
}
.headerImage{
    width:100%;
    height:300px;
    margin-top: 0px;
    object-fit: cover;
}
.headerLogo{
    position: absolute;
    margin-bottom: 100px;
}